<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Backbone Boilerplate</title>
  
  <script type="text/template" id="forcast-template">
    <td><img src="<%= url %>" /></td>
    <td><%= city %></td>
    <td><%= state %></td>
    <td><%= zip %></td>
    <td><%= temperature %>¡F</td>
    <td><a href="#"><i class="delete icon-trash"></i></a></td>
  </script>

  <!-- Application styles. -->

  <!--(if target release)>
  <link rel="stylesheet" href="release.css">
  <!(endif)-->

  <!--(if target debug)>
  <link rel="stylesheet" href="debug.css">
  <!(endif)-->

  <!--(if target dummy)><!-->
  <link rel="stylesheet" href="/app/styles/index.css">
  <!--<!(endif)-->
</head>

<body>
  <!-- Main container. -->
  <div role="main" id="main">
      <header></header>
      <main></main>
      <footer></footer>
  </div>

  <!-- Application source. -->

  <!--(if target release)>
  <script data-main="/app/config" src="source.min.js"></script>
  <!(endif)-->

  <!--(if target debug)>
  <script data-main="/app/config" src="source.js"></script>
  <!(endif)-->

  <!--(if target dummy)><!-->
  <script data-main="/app/config" src="/vendor/js/libs/require.js"></script>
  <!--<!(endif)-->
</body>
</html>
